
amazing-swatches {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	swatch {
		display: block;
		padding: 20px;
		&.ink {
			background-color: var(--ink);
		}
		&.paper {
			background-color: var(--paper);
		}
		&.highlight {
			background-color: var(--highlight);
		}
		&.color {
			background-color: var(--color);
		}
	}
}
