
@layer modules {
	amazing-swatches {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		swatch {
			display: block;
			padding: 20px;
			background-color: currentColor;
			
			&.ink {
				color: var(--ink);
			}
			&.paper {
				color: var(--paper);
			}
			&.highlight {
				color: var(--highlight);
			}
			&.color {
				color: var(--color);
			}
		}
	}
}

/*amazing-swatches swatch.ink {
	background-color: orange;
}

swatch {
	background-color: lime;
}*/