
body * {
	border: 1px solid hsl(200, 100%, 80%);
	padding: 4px;
}

section:nth-of-type(odd) {
	background-color: rgba(0,0,0,.03);
}

picture img {
	opacity: 0;
}

picture {
	background-color: var(--shadow);
}
