
body * {
	border: 1px solid hsla(207, 100%, 80%, 1.00);
	padding: 4px;
}

section:nth-of-type(odd) {
	background-color: rgba(0,0,0,.03);
}

picture img {
	opacity: 0;
}

picture {
	background-color: var(--shadow);
}
