
/* P */
@import 'preset.css' layer(preset);

/* S */
@import 'setup.css' layer(setup);

/* S */
@import 'settings.css' layer(settings);

/* S */
@import 'structure.css' layer(structure);

/* T */
@import 'typography.css' layer(typography);


/* C */
@import 'components.css' layer(components);

/* S */
@import 'modules.css' layer(modules);

/* S */


/* what do layers help with? */
.x-forms .x .form-x-label label span.label {
	/* 
		what if you had to override this 
		from a third-party form library? 
	*/
}

.x-forms {
	.label {
		color: red;
	}
}

/* 
	this open wild west area will override anything in layers 

	that's nice for if you want to override a complicated third-party form library or something...  (see forms.css)

	but you could also cause lots of trouble - too. So, it's not all just amazingly safe now.
*/

.my-fantastic-image {
	max-width: 300px;
	border-bottom-right-radius: 30px;
}



@layer component {
	input[type='text'] {
		padding: 2em;
	}
}

/* 
	it looks like you can also override 
	within specific layers
	and keep that predefined order in place
*/



