/*@import 'developer-styles.css';*/

html {
	--black: #111111;
	--white: #efefef;

	--neutral-stuffs: gray;

	--color: hsla(206, 66%, 77%, 1.00);
	--highlight: hsla(190, 90%, 60%, 1.00);

	--shadow: rgba(0,0,0,.8);

	--corners: 10px; /* or whatevers */

	--paper: hsla(209, 90%, 50%, 1.00); /*shadier dodgerblue*/
	--ink: white;
}

@media (prefers-color-scheme: dark) {
	html {
		--black: #111111;
		--white: #efefef;

		--neutral-stuffs: gray;

		--color: hsla(206, 66%, 47%, 1.00);
		--highlight: hsla(190, 90%, 40%, 1.00);

		--shadow: rgba(0,0,0,.8);

		--corners: 10px; /* or whatevers */

		--paper:  hsla(217, 8%, 13%, 1.00); 
		--paper2: hsla(217, 6%, 17%, 1.00);  /*bunker*/
		--ink: hsla(0, 0%, 96%, 1.00);  /*whitesmoke*/
	}
}
