
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	display: block;
	text-decoration: none;
	color: inherit;
}

p a {
	display: inline;
	color: blue;
	text-decoration: underline;
}

picture {
	display: block;
	overflow: hidden;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

svg {
  display: block;
  width: 100%;
}
