/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

html {
  /* Settings that can be changed, and once done will influence the entire system */
  /* not sure if these typographic settings should be here or in settings.css */

  /* Family */
  --font1: serif;
  --font2: sans-serif;

  /* Size */
  /* https://utopia.fyi/type/calculator?c=320,16,1.2,1500,16,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* external resource that can be used to generate another type scale and easily copy pasted */

  /* if I could figure their logic, itd be possible to create this using variables and calc, adjustable in-file */

  /*  11.11px → 9.00px */
  --step--2: clamp(0.5625rem, 0.7301rem + -0.1788vw, 0.6944rem);

  /*  13.33px → 12.00px */
  --step--1: clamp(0.75rem, 0.8557rem + -0.1127vw, 0.8331rem);

  /*  16.00px → 16.00px */
  --step-0: clamp(1rem, 1rem + 0vw, 1rem);

  /*  19.20px → 21.33px */
  --step-1: clamp(1.2rem, 1.1639rem + 0.1805vw, 1.3331rem);

  /*  23.04px → 28.43px */
  --step-2: clamp(1.44rem, 1.3486rem + 0.4568vw, 1.7769rem);

  /*  27.65px → 37.90px */
  --step-3: clamp(1.7281rem, 1.5544rem + 0.8686vw, 2.3688rem);

  /*  33.18px → 50.52px */
  --step-4: clamp(2.0738rem, 1.7799rem + 1.4695vw, 3.1575rem);

  /*  39.81px → 67.34px */
  --step-5: clamp(2.4881rem, 2.0215rem + 2.3331vw, 4.2088rem);

  /* Weight */
  --weight-heavy: 700;
  --weight-normal: 400;
  --weight-light: 200;

  /* Line Height */
  --line-height: 1.4;
}

body {
  -webkit-font-smoothing: antialiased; /* because Brian said to */
}

.booming-voice {
  font-family: var(--font1);
  font-size: var(--step-5);

  font-weight: var(--weight-heavy);
}

.loud-voice {
  font-family: var(--font2);
  font-size: var(--step-4);
}

@media (min-width: 600px) {
  .loud-voice {
    font-weight: var(--weight-light);
  }
}

.attention-voice {
  font-family: var(--font2);
  font-size: var(--step-3);
}

.firm-voice {
  font-family: var(--font2);
  font-size: var(--step-2);
}

.notice-voice {
  font-family: var(--font2);
  font-size: var(--step-1);
  line-height: var(--line-height);
}

.calm-voice,
p,
li,
label {
  font-family: var(--font2);
  font-size: var(--step-0);
  line-height: var(--line-height);
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--weight-heavy);
}

.whisper-voice {
  font-size: var(--step--1);

  color: var(--gray-lighter, #999);
}

.solid-voice {
  font-size: var(--step--1);
  font-weight: var(--weight-heavy);
}

.micro-voice {
  font-size: var(--step--2);
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */

/* using gap is better - Burooj */

p + p {
  margin-top: 1em; /* Using em since its tied to an element with a set Font Size */
}

h2 + p {
  margin-top: 1.25em;
}

code {
  font-family: monospace;
  font-size: var(--step--1);
  color: green;
}
