/* Should we pull in @fonts here? */

.loud-voice	{
	font-family: sans-serif;
	font-size: clamp(36px, 5vw, 60px);
}
@media (min-width: 600px) {
	.loud-voice {
		font-weight: 700; /* or variable font */
	}
}

.attention-voice	{
	font-family: sans-serif;
	font-size: 30px;
}

.calm-voice, p, li {
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.4;
}

:is(.calm-voice, p, li) em {
	font-style: italic;
}

:is(.calm-voice, p, li) strong {
	font-weight: 700;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
p + p {
	margin-top: 1em;
}

h2 + p {
	margin-top: 20px;
}

code {
	font-family: monospace;
	font-size: 1.1em;
	color: green;
}
